*{
    margin: 0;
    padding: 0;
    font-family: courier;
    /* border: 1px solid red; */
}
body{
    text-align: center;
    background-color: rgb(180, 180, 180);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(7, 121, 197);
    top:0;
    width: 100%;
    position: fixed;
    /* display: none; */
}
.ollc-logo{
    width: 950px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.ollc-logo p{
    margin-left: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.ollc-logo img{
    width: 75px;
}
.nav-sub{
    margin-right: 50px;
    display: flex;
}
.nav-sub a{
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 10px;
    line-height: 2;
}
.nav-sub a::after{  
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: .5s ease-in-out;
}
.nav-sub a:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
}
.nav-sub button{
    letter-spacing: 2px;
    font-family: courier;
    font-size: 16px;
    background: none;
    border: none;
    width: 100px;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 10px;
    line-height: 2;
    cursor: pointer;
}
.nav-sub button::after{  
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: .5s ease-in-out;
}
.nav-sub button:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
}
/* =======================================section */
section{
    margin-top: 200px;
}
.image_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    opacity: 0.7;
}
table{
    padding: 20px;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.623);
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
tr th{
    border: 1px solid;
    width: 100px;;
    height: 50px;
}
tr td{
    padding: 10px;
}
.subjects{
    border: 1px solid;
}
td input{
    width: 50px;
    text-align: center;
}