*{
    margin: 0;
    padding: 0;
    font-family: courier;
    /* border: 1px solid red; */
}
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.image_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    opacity: 0.7;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(7, 121, 197);
    top:0;
    width: 100%;
    position: fixed;
    z-index: 5;
    /* display: none; */
}
.ollc-logo{
    width: 950px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.ollc-logo p{
    margin-left: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.ollc-logo img{
    width: 75px;
}
.nav-sub{
    margin-right: 50px;
    display: flex;
    width: 670px;
}
.nav-sub a{
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 10px;
    line-height: 2;
}
.nav-sub a::after{  
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: .5s ease-in-out;
}
.nav-sub a:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
}
.nav-sub button{
    letter-spacing: 2px;
    font-family: courier;
    font-size: 16px;
    background: none;
    border: none;
    width: 100px;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 10px;
    line-height: 2;
    cursor: pointer;
}
.nav-sub button::after{  
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: .5s ease-in-out;
}
.nav-sub button:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
}
/* ---------------------------------------------section start*/
section{
    margin-top: 120px;
}
section div{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red;   */
}
table{
    box-shadow: 4px 4px 10px;
    background-color: whitesmoke;
    border-collapse: collapse;
    transition: 2s;
}
caption{
    font-family: Verdana;
    color: white;
    padding: 20px;
    font-size: 23px;
    font-weight: bolder;
    background-color: rgb(7, 121, 197);
}
thead th{
    /* padding: 10px 2px;*/
    border: 1px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.664);
    font-size: 16px;
    letter-spacing: 2px;
}
tbody td{
    padding: 20px;
    border: 1px solid;
}
tbody tr{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
tbody tr:hover{
    background-color: rgba(0, 255, 255, 0.623);
    transition: 0.5s;
}
.link_view_grades{
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}
.link_view_grades:hover{
    background-color: black;
    color: whitesmoke;
}
/*-------------------------------------------------- btn */
.btn{
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
    border: none;
    border-bottom: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    font-size: 15px;
    color: black;
    background-color: rgb(255, 255, 255);
}
.btn:focus{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.863);
    font-weight: bold;
    color: white;
}
.btn_1{
    height: 40px;
    width: 60px;
    margin-left: 50px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.btn_1:hover{
    background-color: black;
    color: whitesmoke;
}
/* ------------------------------------table_recorded */
.table_recorded{
    margin-top: 100px;
    width: 90%;
    position: absolute;
    top: 100;
    transform: translateX(-200%);
}
.table_recorded_1{
    transform: translateX(0%);
}
.table_not_record{
    margin-top: 100px;
    width: 90%;
    position: absolute;
    top: 100;
    /* transform: translateX(200%); */
}
.table_not_record_1{
    transform: translateX(200%);
}
/* -------------------------------------------form_grade_wrapper */
.form_grade_wrapper{
    width: 1000px;
    margin: auto;
    transition: 1s;
    opacity: 0;
    /* display: none; */
}
.form_grade_wrapper_1{
    margin-left: 200px;
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    position: fixed;
}
form input{
    width: 50px;
    height: 20px;
    text-align: center;
    font-weight: bolder;
}
.form_settings{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px;
    height: 60px;
    background-color: rgb(7, 121, 197);
}
.form_settings input{
    text-align: center;
    font-weight: bolder;
    height: 30px;
    width: 60px;
    margin: 5px;
}
.form_settings label{
    font-size: 25px;
    font-weight: bold;
}
.subjects{
    background-color: rgb(255, 255, 255);
}
/* ------------------------------grade close btn */
.close_btn_wrapper{
    text-align: right;
    border: 1px solid black;
    box-shadow: 4px 4px 10px;
    background-color: rgb(7, 121, 197);
}
.close_btn_grade{
    cursor: pointer;
    background-color: rgb(158, 158, 158);
    padding: 3px;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin: 5px;
}


