*{
    margin: 0;
    padding: 0;
    transition: 0.9s;
    /* border: 1px solid red; */
}
body{
    font-family: courier;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.img_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /* padding-top:100px; */
    width: 100%;
    height: 120vh;
    filter: blur(4px);
    opacity: 0.5;
}
.heading_wrapper{
    background-color: rgb(7, 121, 197);
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    width: 100%;
    /* display: none; */
}
.heading_wrapper img{
    margin-left: 20%;
    width: 60px;
    height: 60px;
}
.login_form{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    /* width: 400px; */
    height: 400px;
    margin: auto;
    /* margin-top: 10%; */
    box-shadow: 5px 5px 7px black;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 233);
    transition: 0.5s;
    opacity: 0;
    z-index: -2;
    position: fixed;
}
.login_form input{
    color: rgb(0, 0, 0);
    height: 40px;
    width: 50%;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    text-align: center;
    background: none;
}
.login_head{
    padding-top: 50px;
}
.container_info_login{
    padding-top: 40px;
}
.login{
    background-color: rgb(14, 91, 163);
    border: 1px solid;
    border: none;
    color: white;
    /* width: 300px; */
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.login:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color:black;
}
/* ---------------------------------------------button */
.btn_wrapper{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20%;
}
.burger_menu{
    display: none;
    /* border: 1px solid rgb(128, 0, 0); */
    border-radius: 10px;
    border: 1px solid;
    position: absolute;
    right: 0;
    margin-right: 5%;
}
.burger_menu_1{
    transform: rotate(180deg);
}
 .btn{
    background: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 10px;
    line-height: 2;
    border: none;
    /* border: 1px solid; */
}
#close_form_btn{
    background-color: rgb(14, 91, 163);
    border: 1px solid;
    border: none;
    color: white;
    /* width: 300px; */
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
#close_form_btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color:black;
}
#login_btn{
    /* font-weight: bold; */
    font-family: courier;
    font-size: 16px;
}
/* -----------------------------------------------section 1 */
.section_1{
    position: absolute;
    left: 0;
    right: 0;
    color: rgb(231, 231, 231);
    width: 60%;
    margin: auto;
    z-index: -1;
}
.school_name{
    font-size: 45px;
    font-weight: bolder;
}
/* ----------------------------------------------section about */
.about{
    background-color: rgb(146, 211, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 100vh;
}
/* ----------------column_1 */
.column_1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    margin: auto;
    margin-top: 55px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(7, 121, 197);
    padding: 20px 10px;
    border-radius: 10px;
    /* border: 1px solid; */
}
.column_1 img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.column_1 div{
    color: white;
    width: 350px;
    font-size: 20px;
    line-height: 1.5;
    /* border: 1px solid red; */
}
/* -----------------column_2 */
.column_2{
    width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 50px 0px;
    /* border: 1px solid red; */
}
.column_2 div{
    color: rgb(255, 255, 255);
    background-color: rgb(7, 121, 197);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.column_2 div p{
    margin-top: 50px;
    line-height: 1.5;
}
/* ------------------------------------------------section credits */
.section_created_by{
    padding: 50px 0px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/30a6e7b3-1781-49fa-a2f0-b20a042f3742/dcco9bx-97b028ce-9285-4af6-9667-765f21a3d462.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMwYTZlN2IzLTE3ODEtNDlmYS1hMmYwLWIyMGEwNDJmMzc0MlwvZGNjbzlieC05N2IwMjhjZS05Mjg1LTRhZjYtOTY2Ny03NjVmMjFhM2Q0NjIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.H8BziaKal94dV3rQzYJu7rhoxBYjsrR8XzplDw89ciQ);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}
.card_profile_me{
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    width: 900px;
    /* height: 750px; */
    margin: auto;
    padding: 20px;
}
.card_profile_me img{
    width: 150px;
    border: 6px solid rgb(48, 60, 95);
    border-radius: 50%;
}
.href_profile{
    font-size: 20px;
    font-weight: bolder;
    color: black;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid;
}
.description_me{
    text-align: left;
    /* border: 1px solid red; */
    width: 700px;
    margin: auto;
    margin-top: 20px;
    /* line-height: 2; */
}
/* ------------------------------------------------------footer */
footer{
    padding: 5px;
    background-color: rgb(14, 91, 163);
}
footer p{
    color: white;
    /* padding-top: 10px; */
    font-size: 15px;
}





/* ------------------------------------------------------RESPONSIVE  */
@media (min-width:1001px) and (max-width:10000px){
    .btn::after{  
        content: '';
        height: 2px;
        width: 0%;
        background-color: rgb(255, 255, 255);
        display: block;
        transition: .5s ease-in-out;
    }
    .btn:hover::after{
        content: '';
        height: 2px;
        width: 100%;
        display: block;
    }
    .section_1{
        margin-top: 15%;
    }
    /* .about{
        margin-top: 470px;
    } */
    .login_form{
        margin-top: 10%;
        width: 400px;
    }
    .login{
        margin-top: 50px;
        width: 300px;
    }
    #close_form_btn{
        width: 300px;
    }
    .description_me{
        line-height: 2px;
        line-height: 2;
    }
}
@media (max-width: 1000px){
    .btn_wrapper{
        transform: translateX(200%);
        display: block;
        background-color: rgb(47, 126, 201);
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        right: 0;
        padding: 10px 0px;
        border-top: 2px solid rgb(52, 183, 243);
    }
    .btn_wrapper_1{
        transform: translateX(0%);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .btn{
        padding: 0px;
        margin: 0px 0px;
        border-bottom: 1px solid;
        height: 30px;
    }
    .burger_menu{
        display: block;
    }
    .heading_wrapper img{
        margin-left: 5%;
        width: 40px;
        height: 40px;
    }
    /* ----------------------------------section 1 */
    .section_1{
        margin-top: 250px;
        /* word-break: keep-all; */
    }
    .school_name{
        font-size: 38px;
        font-weight: bolder;
    }
    /*----------------------------------- about */
    .about{
        /* margin-top: 400px; */
        /* margin-top:35%; */
        padding-top: 70px;
    }
    .column_1 img{
        width: 90%;
        /* margin-top: 100px; */
    }
    .column_1{
        display: block;
        width: 85%;
    }
    .column_1 div{
        margin: auto;
        margin-top: 20px;
        width: 70%;
    }
    .column_1 p{
        font-size: 14px;
        font-weight: normal;
    }
    .column_2{
        display: block;
        width: 85%;
    }
    .column_2 div{
        width: 90%;
        margin: auto;
        margin-top: 60px;
    }
    /* -----------------------------------section me */
    .section_created_by{
        padding: 50px 0px;
        background: rgb(201, 201, 201);
    }
    .card_profile_me{
        background-color: rgb(241, 241, 241);
        box-shadow: 5px 5px 10px;
        border-radius: 10px;
        width: 80%;
        /* height: 890px; */
        /* margin: auto; */
        /* padding: 20px; */
    }
    .card_profile_me img{
        width: 150px;
        border: 6px solid rgb(48, 60, 95);
        border-radius: 50%;
    }
    .href_profile{
        font-size: 20px;
        font-weight: bolder;
        color: black;
        letter-spacing: 2px;
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid;
    }
    .description_me{
        text-align: left;
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        margin-top: 20px;
        line-height: 2;
        font-size: 14px;
    }
    /* ---------------------------------------login form */
    .login_form{
        margin-top: 200px;
        width: 90%;
    }
    .login{
        margin-top: 50px;
        width: 80%;
    }
    #close_form_btn{
        width: 80%;
    }
    /*------------------------------------------- footer */
    footer{
        font-size: 13px;
    }
}