*{
    margin: 0;
    font-family: courier;
    transition: 0.9s;
}
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(7, 121, 197);
    top:0;
    width: 100%;
    position: fixed;
    z-index: 5;
    /* display: none; */
}
.ollc-logo{
    width: 950px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.ollc-logo p{
    margin-left: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.ollc-logo img{
    width: 60px;
    height: 60px;
}
.nav-sub{
    margin-right: 50px;
}
.nav-sub button{
    letter-spacing: 2px;
    font-family: courier;
    font-size: 16px;
    background: none;
    border: none;
    /* width: 100px; */
    color: rgb(255, 255, 255);
    padding: 10px;
    line-height: 2;
    cursor: pointer;
}
/*----------------------------------------------- section */
section{
    margin-top: 200px;
}
.image_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    opacity: 0.7;
}
table{
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 5px 5px 7px black;
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
}
tr th{
    color: white;
    border: 1px solid black;
    width: 100px;;
    height: 50px;
    background-color: rgb(7, 121, 197);
}
tr td{
    padding: 10px;
}
.subjects{
    border: 1px solid;
    padding: 20px;
}
td input{
    width: 50px;
    text-align: center;
}
.btn{
    color: white;
    text-decoration: none;
    background: none;
    border: 1px solid;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.btn:hover{
    background: rgb(255, 255, 255);
    color: black;
}

@media (max-width:1000px){
    nav{
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: 70px;
        background-color: rgb(7, 121, 197);
        top:0;
        width: 100%;
        position: fixed;
        z-index: 5;
        /* border: 1px solid red; */
    }
    .ollc-logo{
        width: 60px;
        margin-left: 5%;
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
    }
    .ollc-logo p{
        display: none;
    }
    .ollc-logo img{
        width:40px;
        height: 40px;
    }
    .nav-sub{
        margin-right: 5%;
    }
    .nav-sub button{
        letter-spacing: 2px;
        font-family: courier;
        font-size: 14px;
        background: none;
        border: none;
        /* width: 100px; */
        color: rgb(255, 255, 255);
        padding: 0px;
        line-height: 2;
        cursor: pointer;
        border-bottom: 1px solid;
    }
    /*------------------------------------------------------ TABLE */
    section{
        margin-top: 100px;
    }
    table{
        padding: 10px;
        color: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.733);
        box-shadow: 5px 5px 7px black;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        border-collapse: collapse;
    }
    tr th{
        color: white;
        border: 1px solid black;
        width: 10%;
        height: 50px;
        background-color: rgb(7, 121, 197);
    }
    tr td{
        padding: 10px 5px;
    }
    .subjects{
        border: 1px solid;
        padding: 0px;
    }
    td input{
        width: 30px;
        text-align: center;
    }
}
@media (min-width:1001px) and (max-width: 5000px){
    .nav-sub button::after{  
        content: '';
        height: 2px;
        width: 0%;
        background-color: rgb(255, 255, 255);
        display: block;
        transition: .5s ease-in-out;
    }
    .nav-sub button:hover::after{
        content: '';
        height: 2px;
        width: 100%;
        display: block;
    }
}